*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body{
	display: flex;
	flex-direction: column;
	  background-color: #eff6ee;
}
.gridPadre{
	position: relative;
	width: 100%;
	height: 100vh;
	 display: grid;
  grid-template-areas: "header" "main" "footer";
  justify-items: stretch;
}

header{
	  position: fixed;
  		top: 0;
  left: 0;
  right: 0;
	grid-area: header;
	padding: 15px;
	background-color: #84ba47;
	box-shadow: 4px 5px 5px -5px rgba(0,0,0,0.75);
	display: flex;
	flex-direction: column;
	 z-index: 1000;

}
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.userTitulo{
	color: #fff;
	font-family:'DynoPuff', cursive;
	font-family: 1.4rem;
}

.Titulo{
	font-family:'Rubik Marker Hatch', cursive;
	letter-spacing: 5px;
	font-size: 2rem;
	color: #fff;
	transition: color 0.3s ease-in-out;

}

.Titulo:hover{
	color: #a76aec;

}

main{	
	margin-top: 5.5rem;
	grid-area: main;
	background-color: #eff6ee;
	flex-grow:  1;
	
}

.contenedor{
  justify-content: center;
  align-items: center;
  margin-top: 4.5rem;
  display: flex;
}

.formLogin{
	background-color: #fff;
	border-radius:  5%;
	border: 2px solid black;
	display: flex;
	flex-wrap: nowrap;
	text-align: center;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
  width: 36rem;
  height: 29.8rem;
}

.formLogin label{
	font-family: 'DynoPuff', cursive;
	font-size: 2rem;
	margin: 10px 0px 30px;
}

.formLogin input{
	text-align: center;
	font-size: 1.5rem;
	width: 50%;
}

.user{
	font-family: 'DynoPuff', cursive;
	border-radius: 10px;

}

.btn{
	font-family: 'DynoPuff', cursive;
	color: white;
	padding: 5px;
	background-color: #7d47ba;
	border: none;
	border-radius:  10px;
	margin-bottom: -50px;
}

.btn:hover{
animation: 1.5s ease-out;
background-color: #4e0b9a;	
  
}



footer {
	position: fixed;
  bottom: 0; left: 0; z-index: 9;
  	width: 100%; height: 40px;
  	  display: flex;
  align-items: center;
  justify-content: center;
	background-color: #7d47ba;
	color: white;
	font-family: 'DynoPuff', cursive;
	font-size: 1.2rem;
}