*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}


html{
	height:100vh;
}

.gridPadre{
	width: 100%;
	height: 100%;
	 display: grid;
  grid-template-areas: "header" "main" "footer";
  justify-items: stretch;
}

header{
	grid-area: header;
	padding: 15px;
	background-color: #84ba47;
	box-shadow: -1px 5px 9px -2px rgba(0,0,0,0.75);

}
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.userTitulo{
	color: #fff;
	font-family:'DynoPuff', cursive;
	font-family: 1.4rem;
}

.Titulo{
	font-family:'Rubik Marker Hatch', cursive;
	letter-spacing: 5px;
	font-size: 2rem;
	color: #fff;

}

.contenedor{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.formLogin{
	background-color: #fff;
	border-radius:  5%;
	margin-top: 9%;
	margin-bottom: 8%;
	padding: 10px 5px;
	border: 2px solid black;
	display: flex;
	flex-wrap: nowrap;
	text-align: center;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	width: 30rem;
	height: 30rem;
}

.formLogin label{
	font-family: 'DynoPuff', cursive;
	font-size: 1.5rem;
	margin: 10px 0px 30px;
}

.formLogin input{
	text-align: center;
	font-size: 1.5rem;
	margin: 0px 0px 30px;
	width: 50%;
}

.user{
	font-family: 'DynoPuff', cursive;
	border-radius: 10px;

}

.btn{
	font-family: 'DynoPuff', cursive;
	color: white;
	padding: 5px;
	background-color: #7d47ba;
	border: none;
	border-radius:  10px;
}

.btn:hover{
animation: 1.5s ease-out;
background-color: #4e0b9a;	
  
}

main{
	grid-area: main;
	background-color: #eff6ee;
}

footer {
	padding-top: 6px;
	padding-bottom: 6px;
	grid-area: footer;
	background-color: #7d47ba;
	color: white;
	font-family: 'DynoPuff', cursive;
	font-size: 1.2rem;
	text-align: center;
}